page-editteam {


.range {
	height: 10px;
	margin-top: -45px;
	margin-bottom: -60px;
	padding-top: -30px;
	padding-bottom: -30px;
	margin-left:-2px;
	margin-right:-2px;
}

.select {
	margin-top: -80px;
	margin-bottom: -50px;
	margin-left:-15px;
	margin-right:-100px;
	padding-right:80px;
	padding-left:15px;

}
.select-text {
	min-width:20px;
}


.item {
	padding:0px;
	margin-bottom:0px;
	margin-top:-10px;

}

.label {
	height: 16px;


}
.input {
	margin-top: 0px;
	margin-bottom: 20px;
	height: 20px;

}

.ctdark {
	background-color:#CCCCCC;

}

.ctlight {
	background-color:#CCCCCC;

}


.pitchNameItem {
	width:100px;
	margin-top:0px;
	margin-bottom:0px;

	background-color:transparent;
}
.pitchNameRange {
	height: 10px;
	margin-top: -10px;
	margin-bottom: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left:-2px;
	margin-right:-2px;
}

.pitchdark {
	background-color: #888888;

}
.pitchother {
	background-color: #CCCCCC;
	margin-top: 0px;
	padding-top: 0px;
}
.pitchbreak {
	height: 10px;
	background-color: #FFFFFF;
}
.batterbreak {
	height: 20px;
	background-color: #FFFFFF;
}
.pname {
	margin-top: 0px;
}

}
