situation-dice {
.select {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left:-10px;
	margin-right:0px;
	max-width: 100%;




}

.select-text {
	max-width: 100%;

}



.item {
	padding:0px;
	margin-bottom:0px;
	margin-top:0px;

	min-width: 90%;
	max-width: 90%;
	width: 90%;


}
}
