batterinfo {
th, td {
	border: 1px solid black;
}

td.heatmap {
	border: none;
}

.red8 {	background-color: #FF0000;}
.red7 {	background-color: #EE0011;}
.red6 {	background-color: #DD0022;}
.red5 {	background-color: #CC0033;}
.red4 {	background-color: #BB0044;}
.red3 {	background-color: #AA0055;}
.red2 {	background-color: #990066;}
.red1 {	background-color: #880077;}
.blue1 {	background-color: #770088;}
.blue2 {	background-color: #660099;}
.blue3 {	background-color: #5500AA;}
.blue4 {	background-color: #4400BB;}
.blue5 {	background-color: #3300CC;}
.blue6 {	background-color: #2200DD;}
.blue7 {	background-color: #1100EE;}
.blue8 {	background-color: #0000FF;}
}
