<!-- Generated template for the BatterinfoComponent component -->
<div>
<table style="width:100%; margin-top:5px; margin-bottom:5px;">
<tr>
<td style="width:12%;"></td><td style="width:14%; text-align: center; font-weight: bold;">All</td><td style="width:14%; text-align: center;  font-weight: bold; ">v. R</td><td class="heatmap" rowspan="8" style="padding-left:5px;">
<table style="width:82%; table-layout: fixed; font-size:.85em; text-align:center;">
<tr><td style="width:20%; padding-bottom:20%; height: 0;" class="{{aa[0]}}"></td><td class="{{aa[1]}}" style="border-bottom: 2px solid white;"></td><td class="{{aa[2]}}" style="border-bottom: 2px solid white;"></td><td class="{{aa[3]}}" style="border-bottom: 2px solid white;"></td><td class="{{aa[4]}}"></td></tr>
<tr><td style="width:20%; padding-bottom:20%; height: 0; border-right: 2px solid white;" class="{{aa[5]}}"></td><td class="{{aa[6]}}"></td><td class="{{aa[7]}}"></td><td class="{{aa[8]}}" style="border-right: 2px solid white;"></td><td class="{{aa[9]}}"></td></tr>
<tr><td style="width:20%; padding-bottom:20%; height: 0; border-right: 2px solid white;" class="{{aa[10]}}"></td><td class="{{aa[11]}}"></td><td class="{{aa[12]}}"></td><td class="{{aa[13]}}" style="border-right: 2px solid white;"></td><td class="{{aa[14]}}"></td></tr>
<tr><td style="width:20%; padding-bottom:20%; height: 0; border-right: 2px solid white;" class="{{aa[15]}}"></td><td class="{{aa[16]}}" style="border-bottom: 2px solid white;"></td><td class="{{aa[17]}}" style="border-bottom: 2px solid white;"></td><td class="{{aa[18]}}" style="border-right: 2px solid white; border-bottom: 2px solid white;"></td><td class="{{aa[19]}}"></td></tr>
<tr><td style="width:20%; padding-bottom:20%; height: 0;" class="{{aa[20]}}"></td><td class="{{aa[21]}}"></td><td class="{{aa[22]}}"></td><td class="{{aa[23]}}"></td><td class="{{aa[24]}}"></td></tr>
</table>
<!--<img src="../../img/heatmap.png" width="80%">-->

</td>
</tr>
<tr>
<td style="text-align:center;"> AVG</td><td style="text-align: right;"> {{avg}}</td><td style="text-align: right;"> .337</td>
</tr>

<tr><td style="text-align:center;">
OBP</td><td style="text-align: right;"> {{obp}}</td><td style="text-align: right;"> .422</td></tr>
<tr><td style="text-align:center;">
SLG</td><td style="text-align: right;"> {{slg}}</td><td style="text-align: right;"> .456</td></tr>
<tr><td style="text-align:center;">
PA</td><td style="text-align: right;"> 302</td><td style="text-align: right;"> 209</td></tr>
<tr><td style="text-align:center;">
HR</td><td style="text-align: right;"> 12</td><td style="text-align: right;"> 8</td></tr>
<tr><td style="text-align:center;">
BB</td><td style="text-align: right;"> 31</td><td style="text-align: right;"> 20</td></tr>
<tr><td style="text-align:center;">
K</td><td style="text-align: right;"> 56</td><td style="text-align: right;"> 40</td></tr>
</table>
</div>
