<ion-list>
  <!--<ion-item no-lines style="float:right;">
    <button ion-button (click)="presentMenu()" style="width:95%;">
  Menu
</button>
  </ion-item>-->

  <ion-item no-lines style="float:right;">
    <button ion-button (click)="presentLineup()" style="width:95%;">
  Lineup
</button>
  </ion-item>
  <ion-item no-lines style="float:right;">
    <button ion-button (click)="presentBullpen()" style="width:95%;">
  Bullpen
</button>
  </ion-item>
  <ion-item no-lines style="float:right;">
    <button ion-button (click)="presentStats()" style="width:95%;">
  Stats
</button>
  </ion-item>

 
</ion-list>
