infomenu {
.list {
	margin-top:-30px;

}
.item {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: -12px;
    margin-right:-15px;
    margin-left:15px;
    height: 50px;
    background-color: transparent;

}

}
