<ion-list>
  <ion-item no-lines style="float:right;">
    <!--<button ion-button secondary menuToggle>Menu</button>-->
    <button ion-button (click)="presentAlert()" style="width:95%;">
  Menu
</button>
  </ion-item>

  <ion-item no-lines style="float:right;">
    <button ion-button (click)="presentAlert()" style="width:95%;">
  Lineup
</button>
  </ion-item>
  <ion-item no-lines style="float:right;">
    <button ion-button (click)="presentAlert()" style="width:95%;">
  Bullpen
</button>
  </ion-item>
  <ion-item no-lines style="float:right;">
    <button ion-button (click)="presentAlert()" style="width:95%;">
  Splits
</button>
  </ion-item>

 
</ion-list>
