

page-createteam {


.range {
	height: 0px;
	margin-top: -8px;
	margin-bottom: 0px;

	padding-right:5px;
	padding-left:0px;
	padding-bottom:20px;
	padding-top:0px;

}



.select {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left:-10px;
	margin-right:0px;
	max-width: 100%;


}

.select-text {
	max-width: 100%;
}



.item {
	padding:0px;
	margin-bottom:0px;
	margin-top:0px;


}

.label {
	height: 16px;


}


.ctdark {
	background-color:#CCCCCC;

}

.ctlight {
	background-color:#CCCCCC;

}


.pitchNameItem {

	margin-top:0px;
	margin-bottom:0px;

	background-color:transparent;
}


.pitchdark {
	background-color: #888888;

}
.pitchother {
	background-color: #CCCCCC;
	margin-top: 0px;
	padding-top: 0px;
}
.pitchbreak {
	height: 10px;
	background-color: #FFFFFF;
}
.batterbreak {
	height: 20px;
	background-color: #FFFFFF;
}
.pname {
	margin-top: 0px;
}

.editBtn {
	background-color: blue;
	color: white;
	text-align:center;
}
}
