
<table>
<tr>
<td>
<strikezone></strikezone>
</td>
<td>

		<table  style="table-layout:fixed; height:100%;" id="pitcherInfo">
		<tr><td>
		<situation style="display:none;"></situation>
		<situation-dice *ngIf="!dice"></situation-dice>


		</td></tr>

		<tr><td>
		<div id="lastpitch"></div>
		</td></tr>

		<tr ><td>
		<div id="lastresult"></div>
		</td></tr>

		<tr><td>
		
		  <ion-item no-lines>
		    <ion-range min="20" max="80" [(ngModel)]="Velocity" color="secondary" (ionChange)="updateSlider()" style="max-width:100%;">

		    </ion-range>
		  </ion-item>
		</td></tr>
		<tr><td>

		  <ion-item no-lines>
		    <ion-range min="20" max="80" [(ngModel)]="Movement" color="secondary" (ionChange)="updateSlider()" style="max-width:100%;">
		    </ion-range>
		  </ion-item>

		 
		
		</td></tr>
		<tr><td>
		Stamina: 90
		</td>
		</tr>
		</table>

	</td>
	</tr>
	<tr>
	<td colspan="2">

		<table style="table-layout:fixed; width:100%;" class="pitchTable">
		<tr>
		<td id="pitch1n"><button ion-button on-tap="throw(1)" style="width:95%;">{{p1name}}</button></td>
		<td id="pitch2n"><button ion-button on-tap="throw(2)" style="width:95%;">{{p2name}}</button></td>
		<td id="pitch3n"><button ion-button on-tap="throw(3)" style="width:95%;">{{p3name}}</button></td>
		<td id="pitch4n"><button ion-button on-tap="throw(4)" style="width:95%;">{{p4name}}</button></td>
		<td  id="pitch5n"><button ion-button on-tap="throw(5)" style="width:95%;">{{p5name}}</button></td>
		</tr>
		<tr>
		<td id="pitch1v">{{p1Velocity}}</td>
		<td id="pitch2v">{{p2Velocity}}</td>
		<td id="pitch3v">{{p3Velocity}}</td>
		<td id="pitch4v">{{p4Velocity}}</td>
		<td id="pitch5v">{{p5Velocity}}</td>
		</tr>
		<tr>
		<td id="pitch1c">{{p1Control}}</td>
		<td id="pitch2c">{{p2Control}}</td>
		<td id="pitch3c">{{p3Control}}</td>
		<td id="pitch4c">{{p4Control}}</td>
		<td id="pitch5c">{{p5Control}}</td>
		</tr>
		<tr>
		<td><canvas height="80" width="80" style="border:1px solid #d3d3d3;" #pitch1></canvas></td>
		<td><canvas height="80" width="80" style="border:1px solid #d3d3d3;" #pitch2></canvas></td>
		<td><canvas height="80" width="80" style="border:1px solid #d3d3d3;" #pitch3></canvas></td>
		<td><canvas height="80" width="80" style="border:1px solid #d3d3d3;" #pitch4></canvas></td>
		<td><canvas height="80" width="80" style="border:1px solid #d3d3d3;" #pitch5></canvas></td>
		</tr>
		</table>
	
</td>
</tr>
</table>



