
<table>
<tr>
<td>
<strikezone></strikezone>
</td>
<td>

		<table  style="table-layout:fixed; height:100%;" id="pitcherInfo">
		<tr><td>
		<situation></situation>
		</td></tr>
		<tr><td>
		<div id="lastpitch"></div>
		</td></tr>
		<tr><td>
		<div id="lastresult"></div>
		<tr><td>
		<ion-list>
		  <ion-item no-lines>
		    <ion-range min="0" max="10" [(ngModel)]="Velocity" color="secondary" (ionChange)="updateSlider()" style="width:10px;" id="velocitySlider">
		    <ion-icon small range-left>V</ion-icon>
		    </ion-range>
		  </ion-item>

		  <ion-item no-lines>
		    <ion-range min="0" max="100" [(ngModel)]="Movement" color="secondary" (ionChange)="updateSlider()" style="width:10px;" id="movementSlider">
		    <ion-icon small range-left>M</ion-icon>
		    </ion-range>
		  </ion-item>

		 
		</ion-list>
		</td></tr>

		Stamina: 90
		</td>
		</tr>
		</table>

	</td>
	</tr>
	<tr>
	<td colspan="2">

		<table style="table-layout:fixed; width:100%;">
		<tr>
		<td><button ion-button on-tap="throw(1)" id="fastball" style="width:95%;">Fastball</button></td>
		<td><button ion-button on-tap="throw(2)" id="fastball" style="width:95%;">Curve</button></td>
		<td><button ion-button on-tap="throw(3)" id="fastball" style="width:95%;">Slider</button></td>
		<td><button ion-button on-tap="throw(4)" id="fastball" style="width:95%;">Change</button></td>
		<td><button ion-button on-tap="throw(5)" id="fastball" style="width:95%;">Knunck</button></td>
		</tr>
		<tr>
		<td>{{p1Velocity}} MPH</td>
		<td>{{p2Velocity}} MPH</td>
		<td>{{p3Velocity}} MPH</td>
		<td>{{p4Velocity}} MPH</td>
		<td>{{p5Velocity}} MPH</td>
		</tr>
		<tr>
		<td>85 MPH</td>
		<td>85 MPH</td>
		<td>85 MPH</td>
		<td>85 MPH</td>
		<td>85 MPH</td>
		</tr>
		<tr>
		<td><canvas height="80" width="80" style="border:1px solid #d3d3d3;" id="pitch1"></canvas></td>
		<td><canvas height="80" width="80" style="border:1px solid #d3d3d3;" id="pitch2"></canvas></td>
		<td><canvas height="80" width="80" style="border:1px solid #d3d3d3;" id="pitch3"></canvas></td>
		<td><canvas height="80" width="80" style="border:1px solid #d3d3d3;" id="pitch4"></canvas></td>
		<td><canvas height="80" width="80" style="border:1px solid #d3d3d3;" id="pitch5"></canvas></td>
		</tr>
		</table>
	
</td>
</tr>
</table>



