pitcherinfo {
.item {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: -12px;


    padding-right:0px;
    height: 50px;
    background-color: transparent;
    max-width: 125%;
    width:125%;

}

.range {



	padding-right:0px;
	padding-left:0px;
	padding-bottom:20px;
	padding-top:0px;
	margin-left:-25px;


}

.hiddenPitch {
	display: none;
}
.visiblePitch {
	display: inline-block;
}

.pitchTable td {
	background-color: white;
}
}
