<!--<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>-->

<ion-content padding>
  <h3>27 Strikeouts</h3>
  <button ion-button block on-tap="continueGame()" id="continueGame">Continue Game</button>
  <button ion-button on-tap="createTeam()" id="continueGame">Create Team</button>
  <button ion-button on-tap="editTeam()" id="continueGame">Edit Team</button>
  <button ion-button on-tap="viewTeam()" id="continueGame">View Team</button>
  <ion-item>
  <ion-label>Choose Opponent</ion-label>
  <ion-select [(ngModel)]="opponent">
    <ion-option *ngFor="let team of teams" value="{{team.teamId}}">{{team.name}}</ion-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label>Choose Your Team</ion-label>
  <ion-select [(ngModel)]="myteam">
    <ion-option *ngFor="let team of teams" value="{{team.teamId}}">{{team.name}}</ion-option>
  </ion-select>
</ion-item>


<!--<ion-list>
      <ion-item no-lines>
  <ion-range min="0" max="100" [(ngModel)]="OppOffense" color="secondary" id="velocitySlider1">
        </ion-range>
        </ion-item>

      <ion-item no-lines>
  <ion-range min="0" max="100" [(ngModel)]="OppPitcher" color="secondary" id="velocitySlider2">
        <ion-icon small range-left>Opponent Pitcher:</ion-icon>
        </ion-range>
        </ion-item>

      <ion-item no-lines>
 <ion-label color="primary">Opponent Name: </ion-label>
    <ion-input placeholder="Calgary Crustaceans"></ion-input>
        </ion-item>
  
  <ion-item no-lines>
  <ion-range min="0" max="100" [(ngModel)]="MyOffense" color="secondary" id="velocitySlider4">
        <ion-icon small range-left>My Offense:</ion-icon>
        </ion-range>
        </ion-item>
  <ion-item no-lines>
  <ion-range min="0" max="100" [(ngModel)]="MyPitcher" color="secondary" id="velocitySlider6">
        <ion-icon small range-left>My Pitcher:</ion-icon>
        </ion-range>
        </ion-item>
  <ion-item no-lines>
<ion-label color="primary">My Team Name: </ion-label>
    <ion-input placeholder="Pluto Panthers"></ion-input>
        </ion-item>
        </ion-list>-->
  <button ion-button block on-tap="newGame('')" id="createOpponent">New Game</button>
  <table style="table-layout: fixed;"><tr>
  <td style="width:50%; padding-left:5px; padding-right: 5px;"><button ion-button block on-tap="bust27()" id="createOpponent">27 or Bust</button></td>
  <td style="width:50%; padding-left:5px; padding-right: 5px;"><button ion-button block on-tap="nothing()" id="createOpponent">Quest for Nothing</button></td></tr><tr>
  <td style="width:50%; padding-left:5px; padding-right: 5px;"><button ion-button block on-tap="save()" id="createOpponent">Save the Day</button></td>
  <td style="width:50%; padding-left:5px; padding-right: 5px;"><button ion-button block on-tap="nobreaks()" id="createOpponent">No Breaks</button></td></tr><tr>
  <td style="width:50%; padding-left:5px; padding-right: 5px;"><button ion-button block on-tap="practice()" id="createOpponent">Practice</button></td>
  <td style="width:50%; padding-left:5px; padding-right: 5px;"><button ion-button block on-tap="tutorial()" id="createOpponent">Tutorial</button></td></tr></table>
  
  <!--<canvas width="400" height="400" style="border:1px solid #d3d3d3; cursor:none;" #swingCanvas></canvas>
  <button ion-button on-tap="loadSwing()" id="continueGame">Swing Map</button>-->

  <!--<button ion-button secondary menuToggle>Toggle Menu</button>-->
</ion-content>
