
<!--<ion-list>
  <ion-item>
    <ion-range min="0" max="10" [(ngModel)]="Velocity" color="secondary">
    </ion-range>
  </ion-item>

  <ion-item>
    <ion-range min="0" max="100" [(ngModel)]="Movement" color="secondary">
    </ion-range>
  </ion-item>

 
</ion-list>-->

<table>
<tr>
<td><button ion-button on-tap="fastball()" id="fastball">Fast</button></td>
<td><button ion-button on-tap="fastball()" id="fastball">Curve</button></td>
<td><button ion-button on-tap="fastball()" id="fastball">Slider</button></td>
<td><button ion-button on-tap="fastball()" id="fastball">Change</button></td>
<td><button ion-button on-tap="fastball()" id="fastball">Knuck</button></td>
</tr>
<tr>
<td>85 MPH</td>
<td>85 MPH</td>
<td>85 MPH</td>
<td>85 MPH</td>
<td>85 MPH</td>
</tr>
<tr>
<td>85 MPH</td>
<td>85 MPH</td>
<td>85 MPH</td>
<td>85 MPH</td>
<td>85 MPH</td>
</tr>
<tr>
<td><img src="" height="80" width="80"></td>
<td><img src="" height="80" width="80"></td>
<td><img src="" height="80" width="80"></td>
<td><img src="" height="80" width="80"></td>
<td><img src="" height="80" width="80"></td>
</tr>
</table>
