<!-- Generated template for the ScoreboardComponent component -->
<table id="scoreboard">
<tr>
<th class='team'></th>
<th>1</th>
<th>2</th>
<th>3</th>
<th>4</th>
<th>5</th>
<th>6</th>
<th>7</th>
<th>8</th>
<th>9</th>
<th>R</th>
<th>H</th>
<th>E</th>
</tr>

<tr>
<td class='team'>Away</td>
<td>{{linescoreAway[0]}}</td>
<td>{{linescoreAway[1]}}</td>
<td>{{linescoreAway[2]}}</td>
<td>{{linescoreAway[3]}}</td>
<td>{{linescoreAway[4]}}</td>
<td>{{linescoreAway[5]}}</td>
<td>{{linescoreAway[6]}}</td>
<td>{{linescoreAway[7]}}</td>
<td>{{linescoreAway[8]}}</td>
<td>5</td>
<td>9</td>
<td>1</td>
</tr>

<tr>
<td class='team'>Home</td>
<td>{{linescoreHome[0]}}</td>
<td>{{linescoreHome[1]}}</td>
<td>{{linescoreHome[2]}}</td>
<td>{{linescoreHome[3]}}</td>
<td>{{linescoreHome[4]}}</td>
<td>{{linescoreHome[5]}}</td>
<td>{{linescoreHome[6]}}</td>
<td>{{linescoreHome[7]}}</td>
<td>{{linescoreHome[8]}}</td>
<td>4</td>
<td>11</td>
<td>0</td>
</tr>
</table>