scoreboard {
table, th, td {
   border: 1px solid black;
}
table {
    width: 100%;
    background-color: white;
}
th {
	width:6%;
	text-align: center;
	text-decoration: bold;
	background-color: white;
}
td {
	width:6%;
	text-align: center;
	background-color: white;
}
td.team {
	width: 28%;
	text-align: left;
	background-color: white;
}




}
