<!-- Generated template for the ScoreboardComponent component -->
<table id="scoreboard">
<tr>
<th class='team'></th>
<th>1</th>
<th>2</th>
<th>3</th>
<th>4</th>
<th>5</th>
<th>6</th>
<th>7</th>
<th>8</th>
<th>9</th>
<th>R</th>
<th>H</th>
<th>E</th>
</tr>

<tr>
<td class='team'>Away</td>
<td>1</td>
<td>2</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>5</td>
<td>9</td>
<td>1</td>
</tr>

<tr>
<td class='team'>Home</td>
<td>0</td>
<td>0</td>
<td>3</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>0</td>
<td>4</td>
<td>11</td>
<td>0</td>
</tr>
</table>